<ng-include src="'templates/navbar.html'"></ng-include>
<header class="header-pages">
    <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-mobile fa-stack-2x fa-inverse"></i>
    </span>
    <h1>Contato</h1>
</header>
<article class="center-text contato three-quarters center-block">
    <p>
        Se você quiser falar comigo, dizer um oi, perguntar como estou, mostrar
        algo legal ou um projeto que você quer que eu colabore, você pode me achar
        aqui (ou nos ícones das redes sociais na <a href="#/home">home</a>):
    </p>
    <p>
        E-mail:<br/>
        vytorcalixto@gmail.com<br/>
        vsbc14@inf.ufpr.br
    </p>
</article>
