<header class="header-home center-block">
  <h1>VSBC14</h1>
  <h3>Estudante de Ciência da Computação da UFPR</h3>
  <ul class="navbar separator-bottom">
    <li><a href="#/trabalhos">Trabalhos</a></li>
    <li><a href="#/projetos">Projetos</a></li>
    <li><a href="#/contato">Contato</a></li>
  </ul>
  <ul class="navbar social">
    <li><a target="blank" href="http://facebook.com/vytorcalixto"><i class="fa fa-2x fa-facebook-square"></i></a></li>
    <li><a target="blank" href="http://twitter.com/vytorcalixto"><i class="fa fa-2x fa-twitter-square"></i></a></li>
    <li><a target="blank" href="http://instagram.com/vytorcalixto"><i class="fa fa-2x fa-instagram"></i></a></li>
    <li><a target="blank" href="http://github.com/vytorcalixto"><i class="fa fa-2x fa-github-square"></i></a></li>
    <li><a target="blank" href="http://steamcommunity.com/profiles/76561198045359656"><i class="fa fa-2x fa-steam-square"></i></a></li>
    <li><a target="blank" href="https://play.spotify.com/user/12145977184"><i class="fa fa-2x fa-spotify"></i></a></li>
  </ul>
</header>
