.block-list{
    /*background: rgba(44, 161, 74, 0.22);*/
    border-radius: 5px;
}

.block-list h2{
    border-bottom: 1px solid #343434;
}

.block{
    font-size: 30px;
    width: 33%;
    height: 300px;
    display: inline-block;
    text-align: center;
}

.block-even{
    background: #EA5130;
    color: black;
}

.block-odd{
    background: black;
    color: white;
    .fa-inverse{
        color: black;
    }
}

.block-title{
    margin-top: 110px;
    margin-bottom: 0px;
}

@media (max-width: 1280px){
    .block{
        font-size:25px;
    }
}

@media (max-width: 1086px){
    .block{
        font-size:23px;
    }
}

@media (max-width: 1023px){
    .block{
        width: 50%;
        height: 200px;
        border-bottom: solid white 1px;
    }

    .block-title{
        margin-top: 50px;
    }
}

@media (max-width: 707px){
    .block{
        width: 100%;
        height: 100px;
        border: none;
    }

    .block-title{
        margin-top: 10px;
    }
}

.block-odd .block-title a:hover{
    color: #EA5130 !important;
}

.block-even .block-title a:hover{
    color: #363945 !important;
}
