$primary: #ddd ;


.button{
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    background: #291e33;
    color: $primary !important;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(46, 46, 46, 0.6);
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
}

.button:hover{
    color: $primary !important;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
}
