$darker: #343939;
$dark: #4C8579;
$highlight: #28eb53;
$text-color: #ddd;
$blue: #0DB893;
$header: $darker;
$logo: $highlight;

@import 'https://fonts.googleapis.com/css?family=Raleway|VT323';

html, body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100%;
    font-size: 1.2em;
}

a {
    color: darken($highlight, 20%);
    text-decoration: none;
    &:hover {
        color: lighten($highlight, 20%);;
    }
}

header {
    box-sizing: border-box;
    background: $header;
    text-align: center;
    min-height: 100%;
    color: $text-color;
    a {
        color: $highlight;
        background: none;
    }
    a:hover {
        color: $highlight;
        background: none;
    }
    margin: 0;
}

.container {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 300px;
    margin-top: -150px;
    margin-left: -300px;
    pointer-events: none;
}

.logo {
    font-family: 'VT323', monospace;
    font-weight: 100;
    font-size: 4em;
    letter-spacing: 10px;
    color: $logo;
    margin: 0;
}

.chevron {
    position: absolute;
    bottom: 10%;
    margin: 0;
    z-index: 1000;
}

footer{
    background: #1A1A1A;
    padding: 3%;
    color: #aaa;
}

.content {
    margin: 0 10% 0 10%;
}

.menu {
    text-align: center;
    background: $blue;
    padding: 15px 0 15px 0;
    text-transform: uppercase;
    a {
        margin: 0 3px 0 3px;
        color: white;
        text-decoration: none;
        background: none;
        &:hover {
            color: $darker;
        }
    }
}

.line{
    border: none;
    border-top: 4px double #8c8b8b;
    text-align: center;
}

.line:after{
    font-family: 'FontAwesome';
    content: '\f121';
    display: inline-block;
    position: relative;
    top: -18px;
    padding: 0 10px;
    background: white;
    color: #8c8b8b;
    font-size: 18px;
}

footer {
    font-size: .7em;
    text-align: center;
    a {
        color: $highlight;
        background: none;
    }
}

.article-title {
    color: $darker;
}

.blinking-cursor {
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

#particles-js {
    height: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
}
