<div>
    <ng-include src="'templates/navbar.html'"></ng-include>
    <div class="jumbotron center" id="blog-header">
        <!--<ng-include src="'templates/navbar.html'"></ng-include>-->
        <img class="center-div logo" src="../img/hipsterLogo.png">
        <h1>Não é o prédio que está caindo</h1>
        <h3>Um micro-blog sobre coisas aleatórias</h3>
        <h6>Que podem ou não ser relacionadas com o curso de BCC</h6>
    </div>
    
    <div class="col-md-10 col-xs-10 col-sm-10 blog-content">
        <div class="posts">
            <div class="list-group" ng-repeat="post in posts | orderBy:'-date'">
                <div class="list-group-item post">
                    <h3 class="list-group-item-heading post-title">{{post.title}}</h3>
                    <p ng-bind-html="post.content"></p>
                    <div class="note">
                        Publicado em: {{parseDate(post.date)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>