bower_components/components-font-awesome/less
bower_components/components-font-awesome/scss
bower_components/components-font-awesome/*.json
bower_components/components-font-awesome/*.md
bower_components/components-font-awesome/Makefile
**/Thumbs.db
