<!DOCTYPE html>
<html lang="pt-br" ng-app="vsbc14">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vytor Calixto">
    <meta name="description" content="Vytor Calixto é estudante de Ciência da Computação na UFPR.">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>VSBC14</title>
</head>
<body ng-controller="SiteCtrl">
    <header>
        <h1 class="logo">VSBC14</h1>
        <nav class="links">
            <a href="https://twitter.com/VytorCalixto" class="fa fa-twitter-square fa-2x"></a>
            <a href="https://github.com/VytorCalixto" class="fa fa-github fa-2x"></a>
            <a href="mailto:vsbc14@inf.ufpr.br" class="fa fa-envelope-o fa-2x"></a>
        </nav>
        <p>Vytor Calixto <br/> Estudante de ciência da computação na UFPR</p>
    </header>
    <section class="content">
        <h1 class="all-caps text-center">Trabalhos</h1>
        <div class="half inline-block vertical-top">
            <h2>2014/2</h2>
            <ul>
                <li ng-repeat="p in trabalhos">
                    <a href="{{p.html_url}}">{{p.name}}</a>
                    - {{p.description}}
                </li>
            </ul>
        </div>
        <div class="half inline-block vertical-top">
            <h2>2015/1</h2>
            <ul>
                <li>
                    Killer
                </li>
                <li>
                    Intel
                </li>
                <li>
                    Arvres
                </li>
            </ul>
        </div>
        <hr class="line"/>
    </section>
    <section class="content">
        <h2 class="text-center all-caps">Projetos</h2>
        <div class="half inline-block vertical-top">
            <h2>Github</h2>
            <ul>
                <li ng-repeat="p in projetos">
                    <a href="{{p.html_url}}">{{p.name}}</a>
                    - {{p.description}}
                </li>
            </ul>
        </div>
        <div class="half inline-block vertical-top">
            <h2>PET Computação</h2>
            <ul>
                <li ng-repeat="p in pet">
                    <a href="{{p.html_url}}">{{p.name}}</a>
                    - {{p.description}}
                </li>
                <li>
                    <a href="https://gitlab.c3sl.ufpr.br/pet/Geoloc">Geoloc</a>
                    - Aplicativo android de geolocalização no Campus III da UFPR
                </li>
                <li>
                    <a href="http://pet.inf.ufpr.br/protocalouros/">Oficina de Vestibulandos</a>
                    - Oficina de programação, Ciência da Computação e Informática Biomédica para vestibulandos
                </li>
                <li>
                    <a href="https://gitlab.c3sl.ufpr.br/pet/fmvc">FrameworkMVC</a>
                    - Framework PHP para projetos MVC
                </li>
                <li>
                    <a href="https://gitlab.c3sl.ufpr.br/pet/treinamentoGit/wikis/home">Treinamento em Git</a>
                    - Wiki com treinamento básico em git e gitlab
                </li>
            </ul>
        </div>
        <hr class="line"/>
    </section>
    <footer class="text-center">
        <nav class="links">
            <a href="https://facebook.com/VytorCalixto" class="fa fa-facebook-official fa-lg"></a>
            <a href="https://twitter.com/VytorCalixto" class="fa fa-twitter-square fa-lg"></a>
            <a href="https://github.com/VytorCalixto" class="fa fa-github fa-lg"></a>
            <a href="https://gitlab.c3sl.ufpr.br/u/vsbc14" class="fa fa-git-square fa-lg"></a>
            <a href="https://medium.com/@vytorcalixto" class="fa fa-medium fa-lg"></a>
            <a href="https://soundcloud.com/via-capital" class="fa fa-soundcloud fa-lg"></a>
            <a href="https://play.spotify.com/artist/4QgIU2WnvxNiJAlOP29Ru2" class="fa fa-spotify fa-lg"></a>
        </nav>
        <p>Vytor Calixto <br/> &copy 2015</p>
    </footer>
</body>
</html>
