---
layout: default
title: Trabalhos
---

<section class="content">
    <div class="half inline-block vertical-top">
        <h2>2014/2</h2>
        <ul>
            {% for t in site.data.trabalhos %}
            {% if t.year == '2014/2' %}
            <li>
                <a href="{{ t.html_url }}">{{ t.name }}</a>
                - {{ t.description }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="half inline-block vertical-top">
        <h2>2015/1</h2>
        <ul>
            {% for t in site.data.trabalhos %}
            {% if t.year == '2015/1' %}
            <li>
                <a href="{{ t.html_url }}">{{ t.name }}</a>
                - {{ t.description }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="half inline-block vertical-top">
        <h2>2015/2</h2>
        <ul>
            {% for t in site.data.trabalhos %}
            {% if t.year == '2015/2' %}
            <li>
                <a href="{{ t.html_url }}">{{ t.name }}</a>
                - {{ t.description }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="half inline-block vertical-top">
        <h2>2016/1</h2>
        <ul>
            {% for t in site.data.trabalhos %}
            {% if t.year == '2016/1' %}
            <li>
                <a href="{{ t.html_url }}">{{ t.name }}</a>
                - {{ t.description }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="half inline-block vertical-top">
        <h2>2018/1</h2>
        <ul>
            {% for t in site.data.trabalhos %}
            {% if t.year == '2018/1' %}
            <li>
                <a href="{{ t.html_url }}">{{ t.name }}</a>
                - {{ t.description }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <hr class="line">
</section>
