<footer class="text-center">
    <nav class="links">
        <a href="https://facebook.com/VytorCalixto" class="fa fa-facebook-official fa-lg"></a>
        <a href="https://twitter.com/VytorCalixto" class="fa fa-twitter-square fa-lg"></a>
        <a href="https://github.com/VytorCalixto" class="fa fa-github fa-lg"></a>
        <a href="https://gitlab.c3sl.ufpr.br/u/vsbc14" class="fa fa-git-square fa-lg"></a>
        <a href="https://medium.com/@vytorcalixto" class="fa fa-medium fa-lg"></a>
        <a href="https://soundcloud.com/via-capital" class="fa fa-soundcloud fa-lg"></a>
        <a href="https://play.spotify.com/artist/4QgIU2WnvxNiJAlOP29Ru2" class="fa fa-spotify fa-lg"></a>
    </nav>
    <p>Feito com <span class="fa" aria-hidden="true">&#xf004;</span> por Vytor Calixto</p>
</footer>
