<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vytor Calixto">
    <meta name="description" content="Vytor Calixto é estudante de Ciência da Computação na UFPR.">
    <link rel="stylesheet" href="{{ site.baseurl }}bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/style.css">

    <script src="{{ site.baseurl }}bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="{{ site.baseurl }}public/js/particles/particles.js"></script>
    <title>
        {% if page.title != "VSBC14" %}
          {{ page.title }} &middot; {{ site.title }}
        {% else %}
          {{ site.title }}
        {% endif %}
    </title>
</head>
