<div class="jumbotron center" id="projetos-header">
    <h1>Projetos</h1>
</div>

<div class="content">
    <accordion>
        <accordion-group id="accordion-pet" is-open="pet.open">
            <accordion-heading>
                Projetos no PET Computação - UFPR
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': pet.open, 'glyphicon-chevron-right': !pet.open}"></i>
            </accordion-heading>
            Geoloc<br/>Cartão do RU<br/>Oficina de Vestibulandos
        </accordion-group>

        <accordion-group id="accordion-git" is-open="git.open">
            <accordion-heading>
                Projetos no Github
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': git.open, 'glyphicon-chevron-right': !git.open}"></i>
            </accordion-heading>

            <accordion>
                <accordion-group is-open="status.open" ng-repeat="projeto in projetos| orderBy: name">
                    <accordion-heading>
                        <i class="fa" ng-class="{'fa-code-fork': projeto.fork, 'fa-code': !projeto.fork}"></i>
                        {{projeto.name}}
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <p>{{projeto.description}}
                        <br/>
                        <i class="fa fa-external-link"></i><a href="{{projeto.html_url}}"> Vá para este projeto</a>
                    </p>
                </accordion-group>
            </accordion>

        </accordion-group>
    </accordion>
</div>