<div class="jumbotron center" id="sobre-header">
    <h1>Sobre</h1>
</div>

<div class="panel panel-default content">
    <div class="panel-body">
        <span class="panel-title">Sobre mim:</span>
        <p><h4>
            Natural de Juazeiro do Norte, Ceará. Moro na região metropolitana de 
            Curitiba desde 1997. Atualmente formado como Técnico em Informática pelo
            Instituto Federal do Paraná. Graduando do curso de Bacharelado em Ciência da 
            Computação pela UFPR. Membro do grupo PET Computação - UFPR desde 2014.
        </h4></p>

        <span class="panel-title">Habilidades:</span>
        <p><h4>
            Programação em Pascal, C, C++, Java e JavaScript. <br/>
            Programação para Android nativa (Java). <br/>
            Experiência básica com Cordova/PhoneGap e desenvolvimento de aplicativos híbridos. <br/>
            Conhecimentos básico em HTML, CSS e PHP.
        </h4></p>
    </div>
</div>