<div class="jumbotron center" id="sobre-header">
    <h1>Sobre</h1>
</div>

<div class="panel panel-default content">
    <div class="panel-body padding-central">
        <span class="panel-title">Sobre mim:</span>
            <p>
                Meu nome é Vytor Calixto, tenho {{getAge()}} anos e vivo na região 
                metropolitana de Curitiba desde que tinha 1 ano. Sou natural de 
                Juazeiro do Norte, Ceará.
            </p><p>
                Sou formado como Ténico em Informática pelo Instituto Federal do 
                Paraná, tendo experiência tanto no desenvolvimento de softwares
                quanto na manutenção de computadores.
            </p><p>
                Graduando do curso de Bacharelado em Ciência da Computação e 
                membro do grupo PET - Computação desde 2014.
            </p>

        <span class="panel-title">Linguagens e frameworks:</span>
        <ul class="list-group">
            <li class="list-group-item no-margin no-padding">Programação em Pascal, C, C++, Java e JavaScript.</li>
            <li class="list-group-item no-margin no-padding">Programação para Android nativa (Java).</li>
            <li class="list-group-item no-margin no-padding">Experiência básica com Cordova/PhoneGap e desenvolvimento de aplicativos híbridos.</li>
            <li class="list-group-item no-margin no-padding">Conhecimentos em Angular.JS e Ionic. <br/></li>
            <li class="list-group-item no-margin no-padding">Conhecimentos básico em HTML, CSS e PHP.</li>
        </ul>
    </div>
</div>