@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

.nav, .pagination, .carousel, .panel-title a 
{ 
    cursor: pointer; 
}

::selection{
    background: #DF6936;
    color: #fff;
}

body{
    /*background: #2E3136;*/
    background: url(../img/stardust.png);
}

.center-div{
    display: table;
    margin: auto auto;
}

#blog-header{
    background: url(../../img/03.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0px;
    padding: 10px 0px 0px;
}

#blog-nav{
    background: rgba(46,55,64,0.8);
}

#blog-nav li a:hover{
    background: rgba(0,0,0,0.3) !important;
}

#new-post{
    margin: 56px 0px;
    padding: 0px 10px 0px 10px;
}

#transparent-dark{
    background: rgba(50,50,50,0.8);
    border-radius: 5px;
    margin: 80px auto 80px auto;
    padding: 0 2em 0 2em;
}

#blog-title{
    font-family: 'Waiting for the Sunrise', cursive;
    border-bottom: solid 1px ;
}

#blog-title a, .post-title a{
    font-weight: bolder;
    color: #fff;
}

#blog-title a:hover{
    color: #DF6936;
    animation: hover-animation 1s;
    -webkit-animation: hover-animation 1s;
    text-decoration: none; 
}

@keyframes hover-animation{
    0% {color: #fff}
    20% {color: #fff}
    100% {color: #DF6936}
}

@-webkit-keyframes hover-animation{
    0% {color: #fff}
    20% {color: #fff}
    100% {color: #DF6936}
}

.padding-central{
    padding-left: 25%;
    padding-right: 25%;
}

.center{
    text-align: center;
}

.animate[ui-view]{
    width: 100%;
    height: 1%;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    -webkit-transition:opacity .5s ease-in-out;
    -moz-transition:opacity .5s ease-in-out;
    -o-transition:opacity .5s ease-in-out;
    transition:opacity .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

[ui-view].ng-leave {
    opacity: 0;
}

[ui-view].ng-leave-active {
    opacity: 0;
}

.logo{
    width: auto;
    height: 30%;
}

.blog-content{
    /*background: rgba(46,49,54,0.7);*/
    padding: 0 1% 0 1%;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.posts{
    padding-top: 20px;
}

.post{
    border: solid 3px;
    background: #F3F3E9; //#edeeef;
    color: #383A3C;
}

.post p{
    font-weight: 500; 
}

.post-preview{
    margin-top: 120.5px;
}

.new-post-title{
    background: #272822; 
    color: #ddd;
    border-bottom: solid 1px #eee;
}

.post-title{
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 400;
    margin-bottom: 10px;
    color: #eee;
    background: #DF6936;
    padding-left: 20px;
}

.post-content{
    padding: 2px 10px 2px 10px;
}

.post-note{
    font-weight: lighter;
    font-size: smaller;
    font-stretch: condensed;
    color: #777;
    padding: 5px 5px 5px 10px;
}

.note{
    border-top: solid 1px;
    border-color: #2E3136;
    font-weight: lighter;
    font-size: smaller;
    font-stretch: condensed;
    color: #777;
    padding: 5px 5px 5px 10px;
}

#text-area{
    border-top: solid 1px #999;
}